html,body {
   margin:0;
   height:100%;
   background-color: #C8C8C8;
   position: relative;
}

#body{
	
   height:100%;
   padding:10px;
      /* Height of the footer */
   background-color: #C8C8C8;
}	

.loader{
  position: absolute;
  left: 50%;
  top: 50%;

  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-color: orange;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}


@keyframes spin {
  0% { transform: rotate(0deg); } 
  100% { transform: rotate(360deg); }
}


	
